.form-inp{
    font-size: 1.5rem;
    width: 1200px;
    margin: 0px auto;
    background-color: beige ;
    padding: 20px 30px;
    border-radius: 20px;
}
.inp-warp{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.inp, textarea, .upload{
    width: 100%;
    max-width: 100%;
    font-size: 1.2rem;
}
.inp{
    padding: 5px;
}
.btn{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px 0px;
    border: none;
    border-radius: 30px;
}
.add-content-blog-warpper{
    width: 100%;
}
.table-content-blog{
    width: 100%;
    font-size: 1.2rem;
}
.table-content-blog,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    
}
.table-content-blog input,textarea{
    display: block;
    box-sizing: border-box;
    width: 95%;
    max-width: 100%;
    font-size: 1.2rem;
    margin: 5px;
    padding: 5px;
}
.table-content-blog select{
        font-size: 1.2rem;
    margin: 5px;
}
.table-content-blog .col1{
    width: 5px;
}
.table-content-blog .col2 {
    width: 100px;

}
.table-content-blog .col3 {
    width: calc(100% - 105px);

}
.btn.btn-add{
    background-color: rgb(0, 255, 0);
    color: white;
}
.btn.btn-delete{
    background-color: red;
    color: white;
}
.btn.btn-submit{
    background-color: blue;
    color: white;
}